In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np

consumo_max_min = pd.read_csv('./data/Max y min.csv')
consumo_año = pd.read_csv('./data/consumo x año.csv')

In [18]:
consumo_max_min_sorted = consumo_max_min.sort_values(by=['Country'],ascending=True)
consumo_año_sorted = consumo_max_min.sort_values(by=['Country'],ascending=True)

In [4]:
consumo_alcohol_total = pd.merge(consumo_año,consumo_max_min,on='Country',how='left')
consumo_alcohol_total.to_excel('consumo_alcohol_total.xlsx')
consumo_alcohol_total.head()

,Unnamed: 0,Country,Data Source_x,Beverage Types,2016,2015,2014,2013,2012,2011,...,1960,WHO Region Code,WHO Region,Country Code,Year,Sex,Alcohol total per capita (15+) consumption in liters (numeric),Alcohol total per capita (15+) consumption in liters (low estimation),Alcohol total per capita (15+) consumption in liters (high estimation),Alcohol total per capita (15+) consumption in liters (string)
0,0,Afghanistan,Data source,All types,NaN,0.02,0.03,0.03,0.04,0.04,...,NaN,EMR,Eastern Mediterranean,AFG,2019.0,Female,0.003,0.002,0.015,0.003 [0.002 – 0.015]
1,0,Afghanistan,Data source,All types,NaN,0.02,0.03,0.03,0.04,0.04,...,NaN,EMR,Eastern Mediterranean,AFG,2019.0,Both sexes,0.013,0.009,0.056,0.013 [0.009 – 0.056]
2,0,Afghanistan,Data source,All types,NaN,0.02,0.03,0.03,0.04,0.04,...,NaN,EMR,Eastern Mediterranean,AFG,2019.0,Male,0.022,0.015,0.093,0.022 [0.015 – 0.093]
3,0,Afghanistan,Data source,All types,NaN,0.02,0.03,0.03,0.04,0.04,...,NaN,EMR,Eastern Mediterranean,AFG,2018.0,Female,0.003,0.002,0.015,0.003 [0.002 – 0.015]
4,0,Afghanistan,Data source,All types,NaN,0.02,0.03,0.03,0.04,0.04,...,NaN,EMR,Eastern Mediterranean,AFG,2018.0,Both sexes,0.013,0.009,0.056,0.013 [0.009 – 0.056]

In [6]:
consumo_alcohol_total_2 = pd.merge(consumo_año,consumo_max_min,left_on='Country',right_on='Country')
consumo_alcohol_total_2.head()

,Unnamed: 0,Country,Data Source_x,Beverage Types,2016,2015,2014,2013,2012,2011,...,1960,WHO Region Code,WHO Region,Country Code,Year,Sex,Alcohol total per capita (15+) consumption in liters (numeric),Alcohol total per capita (15+) consumption in liters (low estimation),Alcohol total per capita (15+) consumption in liters (high estimation),Alcohol total per capita (15+) consumption in liters (string)
0,0,Afghanistan,Data source,All types,NaN,0.02,0.03,0.03,0.04,0.04,...,NaN,EMR,Eastern Mediterranean,AFG,2019,Female,0.003,0.002,0.015,0.003 [0.002 – 0.015]
1,0,Afghanistan,Data source,All types,NaN,0.02,0.03,0.03,0.04,0.04,...,NaN,EMR,Eastern Mediterranean,AFG,2019,Both sexes,0.013,0.009,0.056,0.013 [0.009 – 0.056]
2,0,Afghanistan,Data source,All types,NaN,0.02,0.03,0.03,0.04,0.04,...,NaN,EMR,Eastern Mediterranean,AFG,2019,Male,0.022,0.015,0.093,0.022 [0.015 – 0.093]
3,0,Afghanistan,Data source,All types,NaN,0.02,0.03,0.03,0.04,0.04,...,NaN,EMR,Eastern Mediterranean,AFG,2018,Female,0.003,0.002,0.015,0.003 [0.002 – 0.015]
4,0,Afghanistan,Data source,All types,NaN,0.02,0.03,0.03,0.04,0.04,...,NaN,EMR,Eastern Mediterranean,AFG,2018,Both sexes,0.013,0.009,0.056,0.013 [0.009 – 0.056]

In [7]:
consumo_alcohol_total_2.to_excel('consumo.xlsx')